/* ---------- color palette ---------- */
:root {
    --mainColor: #ffffff;
    --secondaryColor: #081B27;
    --weatherColor: #7B8F8E; 
}


/* ---------- Page wise ---------- */

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

p {
    color: var(--mainColor);
}

/* ---------- whole page background and layout ---------- */

.whole-page {
    width: 100vw;
    height: 100vh;

    background: url("images/rainy.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: grid;
    grid-template-columns: 67% 33%;
    grid-template-areas: "left-col right-col";
}

/* ---------- left side ---------- */

.left-col {
    grid-area: left-col;

    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: "title" "info";
}

/* ---------- right side ---------- */

.right-col {
    grid-area: right-col;
    backdrop-filter: blur(8px);
    background-color: rgba(101, 96, 99, 0.2)
}

/* ---------- title ---------- */

.title {
    grid-area: title;
    display: flex;
    align-items: center;
}

.title h1 {
    margin-left: 10%;

    font-size: 1.9vw;
    font-weight: 400;
    letter-spacing: 1.6px;
    color: var(--mainColor);
}

/* ---------- weather info ---------- */

.info {
    grid-area: info;
    position: relative;
}

.info-wraper {
    position: absolute;
    bottom: 0;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 28% 10%;
    gap: 1vw;
    grid-template-areas: "temperature info-text weather";
    
    margin-left: 10%;
    margin-bottom: 10%;
    width: 100%;
}

.info-wraper hr {
    width: 150%;
    color: var(--weatherColor);
}

.temperature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: temperature;
}

.temperature p {
    font-size: 10vw;
    font-weight: 400;
    margin: 0;
    line-height: 0.75em;
}

.info-text {
    grid-area: info-text;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.upper-text p {
    margin: 0;
    font-size: 5vw;
    font-weight: 500;
}

.lower-text p {
    margin: 0;
    font-size: 1.3vw;
}

.weather {
    grid-area: weather;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.upper-weather i {
    color: var(--weatherColor);
    font-size: 3vw;
    opacity: 0.7;
}

.lower-weather p {
    font-size: 2vw;
    height: fit-content;
    margin: 0;
    margin-top: 15px;
    line-height: 0.8em;

    flex: 0 100%;
    align-self: flex-end;
}

/* ---------- right panel ---------- */