/* ---------- color palette ---------- */
:root {
    --mainColor: #ffffff;
    --secondaryColor: #081B27;
    --weatherColor: #7B8F8E; 
}


/* ---------- Page wise ---------- */

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

p {
    color: var(--mainColor);
}

.hide {
    display: none;
}
/* ---------- whole page background and layout ---------- */

.whole-page {
    width: 100vw;
    height: 100vh;

    background: url("../images/rainy.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: grid;
    grid-template-columns: 67% 33%;
    grid-template-areas: "left-col right-col";
}

/* ---------- left side ---------- */

.left-col {
    grid-area: left-col;

    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: "title" "info";
}

/* ---------- right side ---------- */

.right-col {
    grid-area: right-col;
    backdrop-filter: blur(8px);
    background-color: #100e0f;
    opacity: 0.75;

    display: grid;
    grid-template-rows: 10vh 35vh 55vh;
    grid-template-areas: "search-area" "cities" "weather-details";
}

/* ---------- title ---------- */

.title {
    grid-area: title;
    display: flex;
    align-items: center;
}

.title h1 {
    margin-left: 10%;

    font-size: 1.9vw;
    font-weight: 400;
    letter-spacing: 1.6px;
    color: var(--mainColor);
}

/* ---------- weather info ---------- */

.info {
    grid-area: info;
    position: relative;
}

.info-wraper {
    position: absolute;
    bottom: 0;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 28% 10%;
    gap: 1vw;
    grid-template-areas: "temperature-text info-text weather";
    
    margin-left: 10%;
    margin-bottom: 10%;
    width: 100%;
}

.info-wraper hr {
    width: 200%;
    color: var(--weatherColor);
}

.temperature-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: temperature-text;
}

.temperature-text p {
    font-size: 10vw;
    font-weight: 400;
    margin: 0;
    line-height: 0.75em;
}

.info-text {
    grid-area: info-text;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.upper-text p {
    margin: 0;
    font-size: 5vw;
    font-weight: 500;
}

.lower-text p {
    margin: 0;
    font-size: 1.3vw;
}

.weather {
    grid-area: weather;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.upper-weather i {
    color: var(--mainColor);
    font-size: 3vw;
}

.lower-weather p {
    font-size: 2vw;
    height: fit-content;
    margin: 0;
    margin-top: 15px;
    line-height: 0.8em;

    flex: 0 100%;
    align-self: flex-end;
}

/* ---------- right panel ---------- */
.search-area {
    grid-area: search-area;
}

.search-area form {
    height: 100%;
    display: grid;
    grid-template-columns: auto 6vw;
    grid-template-areas: "text-area button-area";
}

.text-area {
    grid-area: text-area;
    position: relative;
}

.text-area input {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    margin-left: 4vw;
    width: calc(100% - 8vw);
    font-size: 1.3vw;
    letter-spacing: 1.7px;
    padding-bottom: 1vh;
    border: 0;
    background: transparent;
    border-bottom: 1px solid var(--mainColor);
    color: var(--mainColor);
}

::placeholder {
    color: var(--mainColor);
}

.text-area input:focus {
    outline: none;
    color: var(--mainColor);
}

.button-area {
    grid-area: button-area;
    background-color: var(--weatherColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.button-area:hover {
    opacity: 0.75;
    cursor: pointer;
}

.button-area i {
    font-size: 1.4vw;
}

.cities {
    grid-area: cities;
}

.cities hr {
    width: 75%;
    margin-left: 4vw;
    margin-top: 0;
}

.list {
    margin-top: 7vh;
    margin-left: 4vw;
    font-size: 1.3vw;
    color: var(--mainColor);
    padding: 0;
    margin-bottom: 4vh;
    list-style: none;
}

.list li:not(:last-child) {
    margin-bottom: 4vh;
}

.weather-details {
    grid-area: weather-details;
}

.weather-details-list {
    height: 100%;
    display: grid;
    grid-template-columns: 70%  30%;
    grid-template-rows: 15% 17% 17% 17% 17% 17%;
    grid-template-areas: "weather-details-title empty"
                         "clouds clouds-value"
                         "humidity humidity-value"
                         "wind wind-value"
                         "temperature temperature-value"
                         "apparent-temperature apparent-temperature-value";
}

.weather-details-list div {
    font-size: 1.2vw;
    display: flex;
    align-items: center;
}

.weather-details-list div:nth-child(odd) {
    padding-left: 4vw;
}

.weather-details-list div:nth-child(even) {
    display: flex; 
    flex-direction: row-reverse;
    padding-right: 4vw;
}

.weather-details-title {
    grid-area: weather-details-title;
    color: var(--mainColor);
}

.weather-details-title h2 {
    margin-top: 1vw;
    font-size: 1.4vw;
    font-weight: 600;
    margin-bottom: 0;
}

.empty {
    grid-area: empty;
}

.clouds {
    grid-area: clouds;
}

.clouds-value {
    grid-area: clouds-value;
}

.humidity {
    grid-area: humidity;
}

.humidity-value {
    grid-area: humidity-value;
}

.wind {
    grid-area: wind;
}

.wind-value {
    grid-area: wind-value;
}

.temperature {
    grid-area: temperature;
}

.temperature-value {
    grid-area: temperature-value;
}

.apparent-temperature {
    grid-area: apparent-temperature;
}

.apparent-temperature-value {
    grid-area: apparent-temperature-value;
}